<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <div>
        <h1>Data</h1><br><hr><br>
        <ul>
            <% for(client of clients){ %>
                <div>
                    <li><%= client.owner %></li>
                    <li><%= client.phone %></li>
                    <li><%= client.address %></li>
                    <li><%= client.service %></li>
                    <li><%= client.budget %></li>
                    <li><%= client.about %></li>
                    <hr>
                </div>
                
            <% } %>
        </ul>
    </div>
</body>
</html>